@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*font-family: 'Bebas Neue', cursive;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.inicioPanel{
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 1s;
    background-color: rgb(0, 0, 0);
}

.logo-header {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

.logo-group {
    display: flex;
    flex-direction: column;
}


.logo1 {
    display: inline-block;
    opacity: 0;
    line-height: 0; /* Ajusta el espacio entre las líneas según sea necesario */
}

.smaller {
    font-size: 2.3rem; /* Tamaño de letra más pequeño */
}



.logo1.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo1.fade{
    
    opacity: 0;
    transition: ease-in-out 1s;
}
.logo2{
    text-align: center;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo2.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo2.fade{
    
    opacity: 0;
    transition: ease-in-out 0.5s;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(imagenes/fondo.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    display: block; /* Convertir el enlace en un bloque para centrar el contenido */
    text-align: center; /* Centrar el contenido horizontalmente */
}

.logo img {
    margin-top: 10px;
    width: 120px; /* Establecer el ancho deseado para el logo */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    border-radius: 50%; /* Hacer el logo redondeado (opcional) */
    box-shadow: 0 0 10px #000000; /* Agregar una sombra (opcional) */
}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin-top: -16px;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #000000;
    display: block;
    font-weight: bold; /* Letra más gruesa */
}

.menu .navbar ul li a:hover {
    color: #50A6FF;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    margin-bottom: 45px;
    text-align: left;
}

.header-txt h1 {
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #000000;
    margin-left: -90%;
    margin-top: -20%;
}.header-txt span{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    display: block; /* Asegúrate de que el span esté en una nueva línea */
    text-align: left;
    margin-left: -90%;
}

.header-txt span {
    font-size: 25px;
}

.welcome {
    display: flex;
}

.welcome-1 {
    background-image: url(imagenes/feet3\ \(1\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    min-height: 100vh;
}

.welcome-2 {
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #191919;
}


h2 {
    font-size: 85px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 25px 0;
    text-align: justify;
}   

.b1 {
    color: #50A6FF;
    font-size: 20px;
}

.personal-container {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
}

.personal-container h2 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #000000;
}

.personal-container hr {
    width: 1100px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto 20px auto;
}

/* Estilos de los miembros del equipo */
.personal-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.personal-1 {
    width: 300px; /* Establecer el ancho deseado */
    margin: 0 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #000000;
    margin-top: 30px;
}

.personal-1 img {
    height: 20rem;  /* Altura fija */
    width: 100%;    /* Ancho al 100% del contenedor */
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover; /* Asegura que la imagen cubra el área especificada */
}

.personal-1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.personal-1 p {
    font-size: 18px;
    color: #50A6FF;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.personal-1 a {
    text-decoration: none;
    color: #ffffff;
}

.personal-1 a:hover {
    color: #000000;
}

/* Estilos del botón de información */
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-1:hover {
    background-color: #50A6FF;
    color: #000000;
}

.proyectos-content1 {
    position: relative;
    height: 100%;
}

.proyectos-content1 {
    font-family: Helvetica Neue, Helvetica;
    background-color: #323232;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.swiper {
    width: 100%;
    padding: 20px 0 0 0;
}

.swiper-slide {
    width: 300px;
    height: 600px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #ffb900;
}

.icons img {
    width: 100%;
}

.proyectos-content1 h2 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #ffffff;
}

.proyectos-content1 hr {
    width: 1100px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
}

.product-content {
    text-align: center;
}

.product-txt {
    flex-basis: 50%;
}

.product-txt span {
    font-size: 25px;
    color: #ffb900;
    font-weight: bold;
}

.product-txt h3 {
    font-size: 20px;
    color: #ffb900;
    text-transform: uppercase;
    margin-top: -80px;
}

.product-txt p {
    font-size: 14px;
    color: #ffffff;
}

.product-img {
    flex-basis: 50%;
}

.product-img img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen para que no desborde el contenedor */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    margin-top: 25px;
    border-radius: 15px;
}

.client-content1 {
    padding: 20px;
    text-align: center;
}

.client-content1 h2 {
    margin-bottom: 20px;
    color: #000000;
}

.client-content1 hr {
    margin: 20px auto;
    width: 50%;
    border: 1px solid #000000;
}

/* Estilos del carrusel */
.mySwiper2 {
    overflow-x: auto; /* Permite desplazamiento horizontal cuando el contenido excede el ancho del contenedor */
    white-space: nowrap; /* Evita que los elementos se dividan en múltiples líneas */
    padding-bottom: 20px; /* Agrega un espacio inferior para que no quede pegado al final */
}

.swiper-slide2 {
    display: inline-block; /* Hace que los elementos se muestren en línea */
    width: calc(33.33% - 20px); /* Calcula el ancho para mostrar tres elementos por fila, con un margen lateral de 10px */
    margin-right: 20px; /* Establece el espacio entre cada slide */
    vertical-align: top; /* Alinea los elementos en la parte superior */
}

.swiper-slide2:last-child {
    margin-right: 0;
}

.client-content {
    background-color: #f9f9f9; /* Establece el color de fondo */
    padding: 20px; /* Agrega relleno dentro del elemento */
    border-radius: 10px; /* Establece un radio de borde redondeado */
    box-shadow: 0 0 10px #000000; /* Agrega una sombra alrededor del elemento */
    margin-bottom: 20px; /* Agrega un margen inferior para separar los elementos */
}

.client-content h3 {
    margin-top: 0; /* Elimina el margen superior del elemento h3 */
}

.client-img img {
    width: 300px;
}

.client-img1 img {
    width: 331px;
}

.footer-bg {
    background-color: #323232;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    margin-top: 20px;
    
}

.footer-bg h2 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: -60px;
}

.footer-bg hr {
    width: 1100px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
}

.footer-bg p {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #0e0e0e;
    border: 3px solid #50A6FF;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}

.campo1 {
    margin: 5px;
    padding: 20px 15px;
    width: 514px;
    background-color: #0e0e0e;
    border: 3px solid #50A6FF;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.footer-txt {
    text-align: center;
    padding: 10px;
    background-color: #070707;
}

.footer-txt p {
    text-align: center;
}

.btn-wsp img{
    position:fixed;
    width:100px;
    height:100px;
    line-height: 63px;
    bottom: -2px;
    right:25px;
}


@media(max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #50A6FF;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: block;
    }

    .menu .navbar ul li a:hover {
        color: #ffffff;
    }
    .menu .navbar a:active {
        color: rgb(255, 255, 255); /* Cambia 'red' por el color que desees */
    }
    .logo {
        display: none;
    }
    .header {
        min-height: 50vh;
        /* padding: 100px 0 50px 350px; */
    }
    .header-content {
        
        flex-direction: column;
        text-align: center;
    }
    .header-txt {
        margin-bottom: 25px;
        
    }
    .header-txt h1{
        margin: 0px;
        
    }
    .header-txt span{
        margin: 0px;
        
    }

    .welcome {
        flex-direction: column;
    }

    .welcome-1, .welcome-2 {
        width: 100%;
    }

    .welcome-1 {
        min-height: 60vh;
    }

    .welcome-2 {
        min-height: 40vh;   
    }

    .welcome-2 {
        padding: 50px 20px;
    }

    h2 {
        font-size: 48px;
        line-height: 60px;
        text-align: center;
    }

    p {
        font-size: 14px;
        margin: 15px 0;
        text-align: center;
    }

    .b1 {
        font-size: 18px;
    }

    .personal-container {
        padding: 30px 10px; /* Ajustar el padding */
    }

    .personal-container h2 {
        font-size: 48px; /* Ajustar el tamaño de la fuente */
    }

    .personal-container hr {
        width: 80%; /* Ajustar el ancho */
    }

    .personal-group {
        flex-direction: column; /* Cambiar a disposición en columna */
        align-items: stretch; /* Asegurar que los elementos ocupen el ancho completo */
    }

    .personal-1 {
        width: 100%; /* Hacer que cada tarjeta ocupe el ancho completo */
        margin: 10px 0; /* Ajustar el margen */
    }

    .personal-1 h3 {
        font-size: 20px; /* Ajustar el tamaño de la fuente */
    }

    .personal-1 p {
        font-size: 16px; /* Ajustar el tamaño de la fuente */
    }

    .btn-1 {
        padding: 8px 16px; /* Ajustar el padding */
        font-size: 16px; /* Ajustar el tamaño de la fuente */
    }


    .proyectos-content1 {
        padding: 30px 10px; /* Ajustar el padding */
    }

    .proyectos-content1 h2 {
        font-size: 48px; /* Ajustar el tamaño de la fuente */
    }

    .proyectos-content1 hr {
        width: 80%; /* Ajustar el ancho */
    }

    .swiper-slide {
        width: 70%; /* Ajustar el ancho */
        height: auto; /* Ajustar la altura */
    }

    .icons {
        align-items: center; /* Centrar los íconos */
    }

    .icons i {
        font-size: 24px; /* Ajustar el tamaño de la fuente */
    }

    .icons img {
        width: 80%; /* Ajustar el ancho de las imágenes */
    }

    .client-content1 hr {
        width: 80%; /* Ajustar el ancho */
    }

    .mySwiper2 {
        padding-bottom: 10px; /* Reducir el padding inferior */
    }

    .swiper-slide2 {
        width: calc(100% - 20px); /* Ajustar el ancho para una sola columna */
        margin-right: 10px; /* Reducir el margen derecho */
        margin-bottom: 20px; /* Añadir margen inferior entre slides */
    }

    .swiper-slide2:last-child {
        margin-right: 0; /* Mantener sin margen derecho */
    }

    .client-content {
        padding: 15px; /* Reducir el padding */
        margin-bottom: 15px; /* Reducir el margen inferior */
    }

    .client-img img {
        width: 100%; /* Ajustar el ancho de las imágenes */
    }

    .client-img1 img {
        width: 100%; /* Ajustar el ancho de las imágenes */
        height: 391px; /* Ajustar el alto de las imágenes */
        object-fit: contain; /* La imagen se ajusta dentro del contenedor */
    }

    .footer-bg h2 {
        font-size: 60px;
        margin-top: -30px; /* Ajusta según necesites */
    }

    .footer-bg hr {
        width: 80%; /* Ajusta según necesites */
    }

    .campo {
        width: 80%; /* Ajusta según necesites */
    }

    .campo1 {
        width: 80%; /* Ajusta según necesites */
        width: 338px;
    }

    textarea {
        width: 75% !important; /* Ajusta según necesites */
}

.btn-wsp img {
    width: 75px;
    height: 75px;
    bottom: 0px;
    right: -7px;
    z-index: 9999;
}




}
